<!DOCTYPE html>
<html>
<head>
	<title>福特二手车专题</title>
	<meta content="text/html"; charset="utf-8" http-equiv="content-type" />
	<meta content="webkit" name="renderer">
	<link rel="stylesheet" href="../styles/ford-activity.min.css" type="text/css" />
</head>
<body>
	<div class="main">
		<div class="introduce">
			<p>此次巡展的主题为</p>
			<h6>“随心置换，同心共行”</h6>
			<p>共覆盖全国9个城市。</p>
			<p>现场可参与<i>体感驾驶</i>、<i>微信照片打印</i></p>
			<p>等多种互动活动。<span>到展签到即有礼品相送。</span></p>
			<p>快亲临现场体验吧！</p>
			<p>现场可以随心置换新车，同时也有</p>
			<p>认证二手车展示与销售。</p>
		</div>
		<div class="form">
			<h3 class="title">置换报名</h3>
			<form>
				<div class="clean">
					<div class="form-left">
						<label>姓 名:<input type="text" /></label>
						<label>联系方式:<input type="text" /></label>
						<label>意向经销商:<select><option>请选择经销商</option></select></label>
					</div>
					<div class="form-right">
						<label>称 谓:<input type="text" /></label>
						<label>所在城市:<select><option>请选择城市</option></select></label>
						<label>意向车型:<select><option>请选择车型</option></select></label>
					</div>
				</div>
				<div class="submit"><input type="submit" value="提交" /></div>
			</form>
			<p class="text">长安福特二手车以“交易安心、手续放心、价格舒心、 礼品悦心”的四心服务为核心，任意品牌均可到店置换。</p>
			<p class="surprise">现场参与更有<span>车载空气净化器</span>等着您！</p>
		</div>
		<ul class="service-text">
			<li class="service1 clear">
				<i></i>
				<h6>交易安心</h6>
				<p>长安福特经销商严格按照厂家标准，为您提供专业置换流程及透明交易过程， 务必让您买得开心、卖得安心。</p>
			</li>
			<li class="service2 clear">
				<i></i>
				<h6>手续放心</h6>
				<p>长安福特经销商专业团队为您提供一站式服务，您只需准备好相关的资料，买新车、卖旧车的手续一次就给您全办好。</p>
			</li>
			<li class="service3 clear">
				<i></i>
				<h6>价格舒心</h6>
				<p>长安福特经销商专业的团队都需通过厂家严格培训及考核方可上岗，拥有丰富的二手车评估经验，可以给您的爱车提供公开、透明、专业的定价服务。</p>
			</li>
			<li class="service4 clear">
				<i></i>
				<h6>交易安心</h6>
				<p>凡到店置换新车的客户，均有机会获得4S店送出的精美礼品。</p>
			</li>
		</ul>
		<div class="intro">
			<div class="intro-wrapper">
				<div class="intro-left">
					<h5 class="title">长安福特认证二手车</h5>
					<ul class="list-text">
						<li>• 严格的准入标准；</li>
						<li>• 国际化检测；</li>
						<li>• 1年或两万公里（两者以先到为准）的全国原厂有限联保；</li>
					</ul>
					<p class="text">让您一路放心驾驶、无后顾之忧。</p>
					<div class="link"><a href="javascript:void(0)">进入长安福特二手车在线展厅</a></div>
				</div>
				<div class="intro-right">
					<div class="img"><img src="../images/ford-activity-code.jpg" height="100%" /></div>
					<p class="text">关注“长安福特二手车”官方微信 了解更多活动详情</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>